.container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
}

.button {
  margin-top: 10px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

.display {
  margin-top: 50px;
}

.title {
  font-size: 60px;
  margin-top: 20px;
  margin-left: 30px;
  color: #27AEFC;
}

.subtitle {
  font-size: 20px;
  margin-left: 30px;
}

h4 {
  margin-left: 275px;
  font-size: 30px;
}

body {
  background-image: url(https://www.xmple.com/wallpaper/linear-white-gradient-blue-highlight-1920x1080-c2-ffffff-87cefa-l-67-a-60-f-21.svg);
}
